	<div class="comment-area py-6">
		<h3 class="mb-5 has-text-centered">2 Comments</h3>
		<div class="comment-area-box media mb-6">
			<img alt="" src="images/blog-user-2.jpg" class=" is-pulled-left mr-3 mt-2">

			<div class="ml-4">
				<h4 class="mb-0">Micle harison </h4>
				<span class="date-comm font-sm is-capitalize text-color"><i class="ti-time mr-2"></i>June 7, 2019 </span>

				<div class="comment-content mt-4">
					<p>Lorem ipsum dolor sit amet, usu ut perfecto postulant deterruisset, libris causae volutpat at est, ius
						id modus laoreet urbanitas. Mel ei delenit dolores.</p>
				</div>
				<div class="comment-meta mt-4">
					<a href="#" class="text-underline ">Reply</a>
				</div>
			</div>
		</div>

		<div class="comment-area-box media border-0">
			<img alt="" src="images/blog-user-3.jpg" class="mt-2 is-pulled-left mr-3">

			<div class="ml-4">
				<h4 class="mb-0 ">John Doe </h4>
				<span class="date-comm font-sm is-capitalize text-color"><i class="ti-time mr-2"></i>June 7, 2019 </span>

				<div class="comment-content mt-4">
					<p>Some consultants are employed indirectly by the client via a consultancy staffing company. </p>
				</div>
				<div class="comment-meta mt-4">
					<a href="#" class="text-underline">Reply</a>
				</div>
			</div>
		</div>
	</div>

	<form class="comment-form mb-6 gray-bg p-5" id="comment-form">
		<h3 class="mb-5 has-text-centered">Leave a comment</h3>
		<div class="columns is-multiline">
			<div class="column is-12">
				<textarea class="input mb-3" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
			</div>
			<div class="column is-6-desktop">
				<input class="input" type="text" name="name" id="name" placeholder="Name:">
			</div>
			<div class="column is-6-desktop">
				<input class="input" type="text" name="mail" id="mail" placeholder="Email:">
			</div>
			<div class="column is-12">
				<input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
			</div>
		</div>
	</form>
