<div class="columns">
   <div class="column is-12">
      <img src="images/contact.jpg" alt="" class="mt-4 w-100">
   </div>
</div>

<div class="columns is-justify-content-center">
   <div class="column is-8-desktop is-12-tablet">
      <p class="mt-6 mb-6">Something splashing about in the pool a little way off, and she swam nearer to make out what
         it was: at first she thought it must be a walrus or hippopotamus, but then she remembered how small she was
         now, and she soon made out that it was only a mouse that had slipped in like herself.</p>

      <h2 class="mb-5">Get In Touch</h2>

      <form id="contact-form" class="contact-form">
         <div class="columns is-multiline">
            <div class="column is-12">
               <label class="mb-3 is-block" for="name">Your Name (required)</label>
               <input class="input input-name" name="name" id="name" type="text" required>
            </div>

            <div class="column is-12">
               <label class="mb-3 is-block" for="email">Your Email (required)</label>
               <input class="input input-email" name="email" id="email" type="email" required>
            </div>

            <div class="column is-12">
               <label class="mb-3 is-block" for="message">Your Message</label>
               <textarea class="input input-message" name="message" id="message" rows="7" required></textarea>
            </div>

            <div class="column is-12">
               <button class="btn btn-primary solid blank mt-4" type="submit">Send Message</button>
            </div>
         </div>
      </form>
   </div>
</div>
