<section class="footer-2 section-padding gray-bg pb-5">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h5 class="widget-title is-uppercase letter-spacing-2 mb-5">About me</h5>
					<img src="images/about.jpg" alt="" class="">
					<p class="mt-4">It is the best selling Blog & Magazine html Theme of this year on Themefisher.</p>
				</div>
			</div>
			
			<div class="column is-4-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h5 class="widget-title is-uppercase letter-spacing-2 mb-5">Trending</h5>

					<div class="media sidebar-post-item">
						<a href="#"><img src="images/news/thumb-1.jpg" alt=""></a>
						<div class="ml-5">
							<span class="is-uppercase font-sm font-extra letter-spacing"> Travel</span>
							<h4 class="mt-2"><a href="blog-single.html">Thoughtful living in los Angeles</a></h4>
						</div>
					</div>

					<div class="media sidebar-post-item">
						<a href="#"><img src="images/news/thumb-2.jpg" alt=""></a>
						<div class="ml-5">
							<span class="is-uppercase font-sm font-extra letter-spacing"> Travel</span>
							<h4 class="mt-2"><a href="blog-single.html">Vivamus molestie gravida turpis.</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-4-desktop is-12-tablet">
				<div class="widget footer-widget">
					<h5 class="widget-title is-uppercase letter-spacing-2 mb-5">Gallery</h5>

					<div class="columns is-multiline is-gapless is-mobile">
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f1.jpg" alt="" /></a>
						</div>
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f2.jpg" alt="" /></a>
						</div>
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f3.jpg" alt="" /></a>
						</div>
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f2.jpg" alt="" /></a>
						</div>
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f3.jpg" alt="" /></a>
						</div>
						<div class="column is-4-desktop is-6-mobile">
							<a href="#" class="is-block" style="line-height:.8"><img class="" src="images/f4.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm mt-6 pt-6 border-top">
			<div class="columns">
				<div class="column is-12">
					<ul class="list-inline footer-socials-2 has-text-centered mb-0">
						<li class="list-inline-item"><a href="#">Privacy policy</a></li>
						<li class="list-inline-item"><a href="#">Support</a></li>
						<li class="list-inline-item"><a href="#">About</a></li>
						<li class="list-inline-item"><a href="#">Contact</a></li>
						<li class="list-inline-item"><a href="#">Terms</a></li>
						<li class="list-inline-item"><a href="#">Category</a></li>
					</ul>
				</div>
			</div>
			<div class="columns is-justify-content-center">
				<div class="column is-6-desktop is-10-tablet">
					<div class="copyright has-text-centered ">
						<p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
