<div class="sidebar-sticky">
	<div class="logo-wrapper">
		<a class="navbar-brand" href="index-6.html">
			<img src="images/logo.png" alt="">
		</a>
	</div>

	<nav class="sidebar-menu">
		<ul class="list-unstyled">
			<li class="dropdown is-hoverable" aria-controls="dm-1">
				<a class="dropdown-trigger" href="#!">Home +</a>
				<div class="dropdown-menu" id="dm-1">
					<a class="dropdown-item" href="index.html">Home 1</a>
					<a class="dropdown-item" href="index-2.html">Home 2</a>
					<a class="dropdown-item" href="index-3.html">Home 3</a>
					<a class="dropdown-item" href="index-4.html">Home 4</a>
					<a class="dropdown-item" href="index-5.html">Home 5</a>
					<a class="dropdown-item" href="index-6.html">Home 6</a>
				</div>
			</li>

			<li class="dropdown is-hoverable" aria-controls="dm-2">
				<a class="dropdown-trigger" href="#">Blog Posts +</a>
				<div class="dropdown-menu" id="dm-2">
					<a class="dropdown-item" href="standard-fullwidth.html">Standard Fullwidth</a>
					<a class="dropdown-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
					<a class="dropdown-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
				</div>
			</li>

			<li class="dropdown is-hoverable" aria-controls="dm-3">
				<a class="dropdown-trigger" href="#">Posts Format +</a>
				<div class="dropdown-menu" id="dm-3">
					<a class="dropdown-item" href="post-video.html">Video Formats</a>
					<a class="dropdown-item" href="post-audio.html">Audio Format</a>
					<a class="dropdown-item" href="post-link.html">Quote Format</a>
					<a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
					<a class="dropdown-item" href="post-image.html">Image Format</a>
				</div>
			</li>

			<li><a href="about.html">About</a></li>
			<li><a href="fashion.html">Category</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>

	<div class="header-social-wrapper">
		<ul class="list-inline mb-0">
			<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
		</ul>
	</div>
</div>