<header class="header-top bg-dark">
    <div class="container">
       <div class="columns is-gapless">
          <div class="column is-12">
             <nav class="navbar navigation navigation-dark">
                <div class="navbar-brand">
                   <a class="navbar-item" href="index-5.html">
                      <img src="images/logo-w.png" alt="">
                   </a>
             
                   <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu1">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                   </a>
                </div>
             
                <div id="menu1" class="navbar-menu">
                   <div class="navbar-start mr-0">
                      <div class="navbar-item has-dropdown is-hoverable">
                         <a class="navbar-link" href="#!">Home</a>
                         <div class="navbar-dropdown">
                            <a class="navbar-item" href="index.html">Home 1</a>
                            <a class="navbar-item" href="index-2.html">Home 2</a>
                            <a class="navbar-item" href="index-3.html">Home 3</a>
                            <a class="navbar-item" href="index-4.html">Home 4</a>
                            <a class="navbar-item" href="index-5.html">Home 5</a>
                            <a class="navbar-item" href="index-6.html">Home 6</a>
                         </div>
                      </div>
 
                      <div class="navbar-item has-dropdown is-hoverable">
                         <a class="navbar-link" href="#!">Blog Posts</a>
                         <div class="navbar-dropdown">
                            <a class="navbar-item" href="standard-fullwidth.html">Standard Fullwidth</a>
                            <a class="navbar-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
                            <a class="navbar-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
                         </div>
                      </div>
 
                      <div class="navbar-item">
                         <a class="navbar-link" href="about.html">About</a>
                      </div>
 
                      <div class="navbar-item">
                         <a class="navbar-link" href="fashion.html">Category</a>
                      </div>
 
                      <div class="navbar-item has-dropdown is-hoverable">
                         <a class="navbar-link" href="#!">Post Format</a>
                         <div class="navbar-dropdown">
                            <a class="navbar-item" href="post-video.html">Video Formats</a>
                            <a class="navbar-item" href="post-audio.html">Audio Format</a>
                            <a class="navbar-item" href="post-link.html">Quote Format</a>
                            <a class="navbar-item" href="post-gallery.html">Gallery Format</a>
                            <a class="navbar-item" href="post-image.html">Image Format</a>
                         </div>
                      </div>
 
                      <div class="navbar-item">
                         <a class="navbar-link" href="contact.html">Contact</a>
                      </div>
                   </div>
             
                   <div class="navbar-end">
                      <div class="navbar-item">
                        <div class="search ml-4">
                            <div class="search_toggle"><i class="ti-search text-white"></i></div>
                        </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
       </div>
    </div>
 </header>
 

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
       <form action="#" class="search-form">
          <div class="container">
             <div class="columns is-gapless is-mobile is-align-items-center">
                <div class="column is-10-desktop is-9-mobile">
                   <input type="text" class="input" placeholder="Search..." />
                </div>
                <div class="column is-2-desktop is-3-mobile has-text-right">
                   <div class="search_toggle toggle-wrap is-inline-block">
                      <i class="ti-close text-white"></i>
                   </div>
                </div>
             </div>
          </div>
       </form>
    </div>
 </div>
 <!--search overlay end-->
