<header class="header-top bg-grey">
   <div class="container">
      <div class="columns is-gapless">
         <div class="column is-12">
            <nav class="navbar navigation">
               <div class="navbar-brand">
                  <a class="navbar-item" href="index.html">
                     <img src="images/logo.png" alt="">
                  </a>
            
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu1">
                     <span aria-hidden="true"></span>
                     <span aria-hidden="true"></span>
                     <span aria-hidden="true"></span>
                  </a>
               </div>
            
               <div id="menu1" class="navbar-menu">
                  <div class="navbar-start">
                     <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#!">Home</a>
                        <div class="navbar-dropdown">
                           <a class="navbar-item" href="index.html">Home 1</a>
                           <a class="navbar-item" href="index-2.html">Home 2</a>
                           <a class="navbar-item" href="index-3.html">Home 3</a>
                           <a class="navbar-item" href="index-4.html">Home 4</a>
                           <a class="navbar-item" href="index-5.html">Home 5</a>
                           <a class="navbar-item" href="index-6.html">Home 6</a>
                        </div>
                     </div>

                     <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#!">Blog Posts</a>
                        <div class="navbar-dropdown">
                           <a class="navbar-item" href="standard-fullwidth.html">Standard Fullwidth</a>
                           <a class="navbar-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
                           <a class="navbar-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
                        </div>
                     </div>

                     <div class="navbar-item">
                        <a class="navbar-link" href="about.html">About</a>
                     </div>

                     <div class="navbar-item">
                        <a class="navbar-link" href="fashion.html">Category</a>
                     </div>

                     <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#!">Post Format</a>
                        <div class="navbar-dropdown">
                           <a class="navbar-item" href="post-video.html">Video Formats</a>
                           <a class="navbar-item" href="post-audio.html">Audio Format</a>
                           <a class="navbar-item" href="post-link.html">Quote Format</a>
                           <a class="navbar-item" href="post-gallery.html">Gallery Format</a>
                           <a class="navbar-item" href="post-image.html">Image Format</a>
                        </div>
                     </div>

                     <div class="navbar-item">
                        <a class="navbar-link" href="contact.html">Contact</a>
                     </div>
                  </div>
            
                  <div class="navbar-end">
                     <div class="navbar-item">
                        <ul class="header-socials-2 list-inline">
                           <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                           <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                           <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                           <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>