<nav class="post-pagination clearfix border-top border-bottom py-5">
    <div class="prev-post">
        <a href="blog-single.html" class="is-block">
            <span class="is-uppercase font-sm letter-spacing">Next</span>
            <h4 class="mt-4"> Intel’s new smart glasses actually look good</h4>
        </a>
    </div>
    <div class="next-post">
        <a href="blog-single.html" class="is-block">
            <span class="is-uppercase font-sm letter-spacing">Previous</span>
            <h4 class="mt-4">Free Two-Hour Delivery From Whole Foods</h4>
        </a>
    </div>
</nav>